<div class="uom-in-page-alert{{#if type}} uom-in-page-alert--{{type}}{{/if}}{{#if compact}} uom-in-page-alert--compact{{/if}}">
  {{#if icon}}<span class="material-icons uom-material-icons uom-in-page-alert__icon" focusable="false" aria-hidden="true">{{icon}}</span>{{/if}}
  <div class="uom-in-page-alert__content">{{#if heading}}
    <p class="uom-h5">{{heading}}</p>{{/if}}
    <p{{#if compact}} class="uom-small"{{/if}}>{{{copy}}}</p>{{#if raw-copy}}
    {{{raw-copy}}}{{/if}}
  </div>
</div>
