<div class="uom-content-block">
  {{#if img}}
  <div class="uom-content-block__image">
      <img src="{{img}}" alt="{{heading}}">
  </div>
  {{/if}}
  {{#if icon}}
  <div class="uom-content-block__image">
      <div class="uom-content-block__icon">{{{icon}}}</div>
  </div>
  {{/if}}
  <div class="uom-content-block__content">
    <div class="uom-content-block__title">{{heading}}</div>
    {{#if copy}}<p class="uom-content-block__copy">{{{copy}}}</p>{{/if}}
    {{#if list}}
    <ul class="uom-content-block__list">
      {{#each list}}
      <li><a href="#">{{this}}</a></li>
      {{/each}}
    </ul>
    {{/if}}
    {{#if link}}<div class="uom-content-block__link"><a href="#">{{link}}</a></div>{{/if}}
  </div>
</div>
