<figure class="uom-media{{#if class}} uom-media--{{class}}{{/if}}{{#if theme}} uom-media--{{theme}}{{/if}}">{{#if video}}
  <div class="uom-media__video">
    <iframe src="{{video}}" title="{{#if title}}{{title}}{{/if}}" frameborder="0" allowfullscreen></iframe>
  </div>{{/if}}{{#if image}}
  <img src="{{image}}" alt="{{#if title}}{{title}}{{/if}}">{{/if}}{{#if caption}}
  <figcaption>{{caption}}</figcaption>{{/if}}
</figure>
