<section class="uom-section{{#if theme}} uom-section--{{theme}}{{/if}}{{#if type}} uom-section--{{type}}{{/if}}{{#if image}} uom-section--image{{/if}}"{{#if image}} style="background-image: url({{image}});"{{/if}}>
  <!-- START: Section content -->
  <div class="uom-container">
  	<p>{{#if name}}{{name}}{{else}}Section{{/if}}</p>
  </div>
  <!-- END: Section content -->
</section>
