{{#unless simple}}
<nav class="uom-skip{{#if masthead-theme}} uom-skip--{{masthead-theme}}{{/if}}" aria-label="Skip to links">
  <a href="{{#if nav}}{{nav}}{{else}}#{{/if}}"><span>Skip to navigation</span></a>
  <a href="{{#if content}}{{content}}{{else}}#{{/if}}"><span>Skip to content</span></a>
</nav>
{{/unless}}
<div class="uom-masthead{{#if masthead-theme}} uom-masthead--{{masthead-theme}}{{/if}}">
  <div class="uom-container">A UOM website</div>
</div>
